.SearchBox {
  width: 100%;
  display: flex;
  border: 2px solid #ec6159;
  border-radius: 20px;
  width: 600px;
}

@media (max-width: 768px) {
  .SearchBox {
    width: 500px;
  }
}

@media (max-width: 475px) {
  .SearchBox {
    width: 280px;
  }
}

.SearchBox input {
  padding: 5px 16px;
  width: 100%;
  border-radius: 20px;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  text-align: center;
  font-weight: 500;
  color: rgb(180, 179, 179);;
}

.SearchBox input::placeholder {
  color: rgb(180, 179, 179);
}

.SearchBox button {
  color: white;
  padding: 0 20px;
  background: #ec6159;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
}

.SearchBox svg {
  width: 30px;
  height: 30px;
}

input,
input:focus {
  outline: 0;
}
